* {
  box-sizing: border-box;
}
.app {
  display: flex;
}

input {
  padding: 10px;
  border: 1px solid #ccc;
  margin-right: 10px;
  outline-color: #00a1ff;
}

button {
  padding: 10px;
  margin-right: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  font-weight: bold;
  background-color: #eee;
  cursor: pointer;
  transition: all 0.2s;
}
