.style {
  border: 1px solid black;
  height: 300px;
  width: 300px;
  overflow: auto;
  position: relative;
}
.innerStyle {
  width: 100%;
  height: 650px;
  background: linear-gradient(white, black);
}
